form.asset {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 64px 100px;
    gap: 5px;

    .asset__header {
        display: grid;
        grid-template-columns: 64px 1fr;
        gap: 5px;

        img {
            height: 100%;
        }

        input {
            height: 100%;
        }

        h1 {
            margin: 0;
        }
    }

    .asset__footer {
        textarea {
            height: 100%;
            max-width: 100%;
        }

    }
}

.asset {
    &-card {
        padding: 5px;
        border: 1px solid black;
        border-radius: 5px;
        display: grid;
        grid-template-rows: 64px;
        gap: 5px;

        &__header {
            display: grid;
            grid-template-columns: 64px 1fr;
            gap: 5px;

            input {
                height: 100%;
            }

            h1 {
                margin: 0;
            }
        }

        &__footer {
            textarea {
                height: 100%;
                max-width: 100%;
            }

        }
    }
}