.asset {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 64px 200px;
    gap: 5px;

    .asset__header {
        display: grid;
        grid-template-columns: 64px 1fr;
        grid-template-rows: 64px;
        gap: 5px;

        img {
            height: 100%;
        }

        input {
            height: 100%;
        }

        h1 {
            margin: 0;
        }
    }

    .asset__footer {
        height: 100%;
        .editor,.tox.tox-tinymce {
            height: 100% !important;
        }
    }
}