@font-face {
  font-family: "Caslonish Fraxx";
  src: url("assets/fonts/CaslonishFraxx.ttf") format("truetype"); }

.app.pc-sheet h1,
.app.pc-sheet h2,
.app.pc-sheet h3,
.app.pc-sheet h4,
.app.pc-sheet h5,
.app.pc-sheet h6 {
  margin: 0; }

.app.pc-sheet .roll__button {
  flex: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  border: 2px solid #782e22;
  border-radius: 5px;
  margin: 0 5px;
  color: #782e22; }
  .app.pc-sheet .roll__button:hover {
    background-color: #782e22;
    color: white; }

.app.pc-sheet .window-content {
  background: url("assets/images/background.jpg"); }

.app.pc-sheet input,
.app.pc-sheet select {
  border: none;
  background: transparent;
  border-bottom: 1px solid #782e22; }

.app.pc-sheet label {
  font-family: "Caslonish Fraxx";
  color: #AA0000;
  font-size: 1.2em; }

.app.pc-sheet form {
  display: flex;
  flex-direction: row; }
  .app.pc-sheet form .aside {
    padding: 5px;
    flex: 25%; }
    .app.pc-sheet form .aside .image {
      grid-area: i; }
      .app.pc-sheet form .aside .image img {
        width: 100%;
        height: auto; }
  .app.pc-sheet form .main {
    flex: 75%;
    padding: 5px; }
    .app.pc-sheet form .main .character {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 15px 5px; }
      .app.pc-sheet form .main .character label {
        display: block; }
      .app.pc-sheet form .main .character__name input {
        font-family: "Caslonish Fraxx";
        border: none;
        background: transparent;
        color: #AA0000;
        font-size: 1.4em;
        height: 50px; }
      .app.pc-sheet form .main .character__job {
        display: flex;
        padding: 10px 0; }
        .app.pc-sheet form .main .character__job div {
          flex: 50%;
          padding: 5px; }
          .app.pc-sheet form .main .character__job div select {
            width: 100%;
            font-size: 1.8em;
            border: none;
            background: transparent;
            border-bottom: 2px solid #782e22;
            height: 35px; }
          .app.pc-sheet form .main .character__job div select,
          .app.pc-sheet form .main .character__job div option {
            font-family: "Caslonish Fraxx";
            color: #AA0000; }
      .app.pc-sheet form .main .character__attributes {
        display: flex;
        justify-content: space-evenly; }
        .app.pc-sheet form .main .character__attributes .attribute {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 20%;
          font-family: "Caslonish Fraxx"; }
          .app.pc-sheet form .main .character__attributes .attribute .attribute__label {
            text-align: center;
            font-size: 2em;
            color: #AA0000; }
          .app.pc-sheet form .main .character__attributes .attribute .attribute__input {
            width: 50px;
            height: 50px;
            text-align: center;
            border-radius: 50%;
            margin: 0 auto;
            font-size: 1.8em;
            border: 1px solid #782e22; }
      .app.pc-sheet form .main .character__talents {
        display: flex;
        justify-content: space-evenly; }
        .app.pc-sheet form .main .character__talents .talent {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-family: "Caslonish Fraxx";
          width: 25%; }
          .app.pc-sheet form .main .character__talents .talent .talent__label {
            text-align: center;
            font-size: 1.8em;
            color: #AA0000; }
          .app.pc-sheet form .main .character__talents .talent .talent__input {
            width: 50px;
            height: 50px;
            text-align: center;
            border-radius: 50%;
            margin: 0 auto;
            font-size: 1.4em;
            border: 1px solid #782e22; }
    .app.pc-sheet form .main a.tab-nav {
      font-family: "Caslonish Fraxx";
      font-size: 1.6em;
      text-align: center; }
      .app.pc-sheet form .main a.tab-nav.active {
        text-shadow: none;
        border-bottom: 2px solid #782e22; }
      .app.pc-sheet form .main a.tab-nav:hover {
        text-shadow: none; }
    .app.pc-sheet form .main .tab {
      padding: 10px; }
  .app.pc-sheet form .line {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .app.pc-sheet form .line .form-field {
      width: 100%;
      padding: 0 5px; }
      .app.pc-sheet form .line .form-field input,
      .app.pc-sheet form .line .form-field label,
      .app.pc-sheet form .line .form-field select,
      .app.pc-sheet form .line .form-field h1 {
        width: 100%; }
      .app.pc-sheet form .line .form-field label {
        padding: 2px; }
      .app.pc-sheet form .line .form-field .radio-group {
        display: flex;
        align-items: center; }
        .app.pc-sheet form .line .form-field .radio-group .checkbox {
          display: flex !important;
          align-items: center;
          font-size: 1.2em; }
  .app.pc-sheet form .object td,
  .app.pc-sheet form .weapon td {
    padding: 0 5px; }

.status {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 1/3; }
  .status h3 {
    text-align: center; }
  .status table {
    border: 2px solid #782e22;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Caslonish Fraxx"; }
    .status table th {
      color: white;
      background-color: #782e22;
      font-size: 1.3em; }
    .status table td {
      padding: 0 5px; }
      .status table td input {
        font-size: 1.4em; }

.asset {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 64px 200px;
  gap: 5px; }
  .asset .asset__header {
    display: grid;
    grid-template-columns: 64px 1fr;
    grid-template-rows: 64px;
    gap: 5px; }
    .asset .asset__header img {
      height: 100%; }
    .asset .asset__header input {
      height: 100%; }
    .asset .asset__header h1 {
      margin: 0; }
  .asset .asset__footer {
    height: 100%; }
    .asset .asset__footer .editor, .asset .asset__footer .tox.tox-tinymce {
      height: 100% !important; }

.object {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 64px 200px;
  gap: 5px; }
  .object .object__header {
    display: grid;
    grid-template-columns: 64px 1fr;
    grid-template-rows: 64px;
    gap: 5px; }
    .object .object__header img {
      height: 100%; }
    .object .object__header input {
      height: 100%; }
    .object .object__header h1 {
      margin: 0; }
  .object .object__footer {
    height: 100%; }
    .object .object__footer .editor, .object .object__footer .tox.tox-tinymce {
      height: 100% !important; }

.weapon label {
  display: block; }

.weapon select,
.weapon input {
  width: 100%; }

.weapon div {
  padding: 0 5px; }

.armor input[type=number] {
  text-align: center; }

.task-check-dialog {
  padding: 10px; }
  .task-check-dialog__stats {
    display: flex; }
    .task-check-dialog__stats div {
      flex: 33.33%;
      padding: 0 5px; }
    .task-check-dialog__stats label {
      display: block; }
    .task-check-dialog__stats select,
    .task-check-dialog__stats input {
      width: 100%; }

.task-chat h1, .task-chat h4 {
  text-align: center; }

.task-chat h4 {
  font-style: italic; }

.task-chat .success {
  color: green; }

.task-chat .failure {
  color: red; }

.sherwood .tab,
.sherwood .tab .editor {
  overflow-y: auto; }

.sherwood .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto; }

.sherwood .items-list .item-header {
  font-weight: bold; }

.sherwood .items-list .item {
  line-height: 1.4;
  padding: 3px 5px;
  /*border-bottom: 1px solid #BBB;*/ }

.sherwood .item ~ .item {
  border-top: 1px solid #782e22; }

.sherwood .item:last-child {
  border-bottom: 1px solid #782e22; }

.sherwood .item-desc:last-child {
  border-bottom: 1px solid #782e22; }

.sherwood .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px; }

.sherwood .items-list .item img {
  display: block; }

.sherwood .items-list .item-name {
  margin: 0;
  line-height: 1.4;
  padding-left: 12px; }

.sherwood .items-list .item-name p {
  margin: 3px 0px;
  line-height: 1.4;
  font-size: 13px; }

.sherwood .items-list .item-damage {
  flex: 0;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto; }

.sherwood .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 45px;
  flex: 0 0 45px;
  text-align: right;
  /*  margin-top: auto;
    margin-bottom: auto;*/ }

.sherwood .items-list .item-quantity {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75px;
  flex: 0 0 75px;
  text-align: center;
  /*  margin-top: auto;
    margin-bottom: auto;*/ }

.sherwood .items-list .item-cypher-limit {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: center;
  /*  margin-top: auto;
    margin-bottom: auto;*/ }

.sherwood .items-list .item-right {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  text-align: right;
  margin-top: auto;
  margin-bottom: auto; }

.sherwood .items-list .description {
  text-align: left;
  line-height: 1.4;
  border-top-style: dashed;
  border-color: #782e22;
  border-top-width: 1px;
  padding-left: 17px;
  padding-bottom: 5px;
  font-size: 13px; }

.sherwood .items-list .description p {
  border-style: none;
  margin: 3px 0 4px 0; }

.sherwood .items-list .description ul {
  list-style-type: disc; }

/* .sherwood .items-list .description ul li {
    position: relative;
    margin-left: 1em;
  } */
.sherwood .items-list .description p:last-of-type {
  font-size: 13px;
  border-style: none;
  margin: 3px 0 0 0; }

.sherwood .description-image {
  float: right;
  margin: 5px 3px 0 5px; }

.description-image-chat {
  float: right;
  margin: 0 0 0 5px; }
