<div class="asset-card">
    <div class="asset-card__header">
        <img src="{{img}}" alt="{{name}}" data-edit="img">
        <input type="text" data-dtype="String" name="name" value="{{name}}" />
    </div>
</div>